<h1>Directions to De Uijlenes</h1>

<h2>Venue Details:</h2>
<ul>
<li>De Uijlenes Farm,&nbsp;Grootbos Road, 7220, South Africa</li>
<li>GPS coordinates:&nbsp;S 34 34’ 11. 84” E 19 28’ 01. 36”</li>
<li>Website:&nbsp;<a href="http://www.deuijlenes.co.za/">http://www.deuijlenes.co.za/</a></li>
<li>Travelling time: Approx 2 hours from Cape Town</li>
<li>Venue contact: Staci 076 484 1135</li>
</ul>
<h2>Directions:</h2>
<ul>
<li>Take N2 to Caledon</li>
<li>At Caledon take R316</li>
<li>From R316 take R326 to Stanford</li>
<li>At Stanford take R43 to Gansbaai</li>
<li>Drive through Gansbaai</li>
<li>5kms after Gansbaai turn left to Elim/Baardskeerdersbos for 8km</li>
<li>Turn left at De Uijlenes sign onto a gravel road</li>
<li>Drive 500m</li>
<li>Venue is on your right hand side at the first bend</li>
</ul>

<p><img alt="" src="https://lh6.googleusercontent.com/m__r98uV6_l0h59zBue35W_x4JBlmVggESgT2vCp_GRLz5tqv7sn7pwxZicgDkJSV6NcuahN47rikiC8gsCiZqWuYujcEsRBi46icE7nTUy9I3BPqlP643ek-w" width="575px;" height="368px;"></p>
<p>Below is a zoomed in map from De Kelders &amp; Gansbaai to the wedding venue:</p>
<p><img alt="" src="https://lh4.googleusercontent.com/5yHIPEYvU4-45CaQBxwDx0h0zeekv-5NiSwLR_my63ARL04Wlu8Ik3R2xrUY3UOtWJu69qQUj5ilS_xshs-lJtmL3-DripUj1NVpZoFgHrqfnk-zMoC80G_N_A" width="624px;" height="352px;"></p>
<p>&nbsp;</p>
<p>You can also take the route through Hermanus (see below), but you can expect lots of traffic through Hermanus, so it’s probably better to take the route through Caledon (described above).</p>
<p><iframe src="https://maps.google.co.za/maps?f=d&amp;source=s_d&amp;saddr=Airport+Approach+Road,+Cape+Town,+Western+Cape&amp;daddr=De+Uijlenes+Gansbaai&amp;hl=en&amp;geocode=FVyx-f0dZ34bASkV0ELjOkXMHTHZQ_rtIh8bCA%3BFaaA8P0dhQwpASE03nNoScfBYin7BpEy8RvOHTE03nNoScfBYg&amp;aq=&amp;sll=-33.96778,18.579047&amp;sspn=0.022601,0.043731&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=-34.241324,18.871765&amp;spn=1.089846,1.757813&amp;z=9&amp;output=embed" height="480" width="640" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></p>
<p><a href="https://maps.google.co.za/maps?f=d&amp;source=embed&amp;saddr=Airport+Approach+Road,+Cape+Town,+Western+Cape&amp;daddr=De+Uijlenes+Gansbaai&amp;hl=en&amp;geocode=FVyx-f0dZ34bASkV0ELjOkXMHTHZQ_rtIh8bCA%3BFaaA8P0dhQwpASE03nNoScfBYin7BpEy8RvOHTE03nNoScfBYg&amp;aq=&amp;sll=-33.96778,18.579047&amp;sspn=0.022601,0.043731&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=-34.241324,18.871765&amp;spn=1.089846,1.757813&amp;z=9">View larger map with detailed directions</a> from Cape Town airport.</p>
