<h1>Gifts</h1>
<p>Thank you for choosing to celebrate our special day with us.</p>
<p>If you're thinking of getting us a gift, we would really appreciate a contribution towards our first house and our honeymoon fund.</p>

<blockquote>First National Bank<br>
Account number: 62489682205<br>
Branch code: 6250655<br>
Account type: cheque</blockquote>
<hr>
<br>
<p>If you would would rather get us a gift, we've picked out a few items that will make our home all the more wonderful.</p>
<ul>
  <li><a href="https://www.yuppiechef.com/registry/1122433">Yuppie Chef</a></li>
  <li><a href="http://www.home.co.za/giftlist/giftRegistry.jsp?pageName=searchGift&flush=true">@home (code: gl24710407)</a></li>
</ul>