.content-container {
  padding: 0 20px;
}

html {
  overflow: scroll;
}

table.twelve {
  width: 100%;
}

.item.active {
  background: #008CBA;
}

.row.main {
  background: #F9F9F9;
}

.image {
  background: #fff;
  padding: 20px;
  border: 1px solid #D8D8D8;
}