@media only screen and (min-width: 64.063em) {
  .content-container {
    margin-left: 40px;
  }
}

html {
  overflow: scroll;
}

.item.active {
  background: #008CBA;
}

.row.main {
  background: #F9F9F9;
}

.image {
  background: #fff;
  padding: 20px;
  border: 1px solid #D8D8D8;
}